.white-button{
    -fx-background-color: #f5f5dd
}

.black-button{
    -fx-background-color: #dab36e;
}

.status-card{
    -fx-background-color: #e5cfa7;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.board-information-label{
    -fx-font: bold 16px "Times New Roman";
    -fx-text-alignment: center;
}

.board-information-label-long-names{
    -fx-font: bold 14px "Times New Roman";
}
.borderpane-container{
    -fx-background-color: #1e1e1e;
}

.startMenuButtons{
    -fx-pref-width: 150px;
    -fx-min-height: 40px;
    -fx-font: bold 20px "Times New Roman";
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-focus-traversable: false;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.white-button, .black-button {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-insets: 0;
}